html, body {
	margin: 0;
	padding: 0;
	font-size: 13pt;
	font-family: Times New Roman, serif;
	/*font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;*/
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.bibliographyItem{
	margin-bottom: 0.75em;
}

.queryResults {
	max-width: 210mm;
	padding: 2.5cm;
	line-height: 134%;
	text-align: justify;
}

.year:before {
	content: ' (';
}

.year:after {
	content: ')';
}

.title:before {
	content: '. ';
}

.journal {
	font-style: italic;
}

.journal:before {
	content: '. ';
}

.volume:before {
	content: ' ';
}

.volume {
	font-weight: bold;
}

.issue:before {
	content: '(';
}

.issue:after {
	content: ')';
}

.pages:before {
	content: '. pp. ';
}

.fromwhere:before {
	content: '. ';
}
